node_modules/
.env
.env.local
.DS_Store
build/
dist/
*.log
.vscode/
.idea/
backend/uploads/*
!backend/uploads/.gitkeep

# Fichiers d'environnement d'exemple (on peut les garder)
!backend/env.example
!frontend/env.example
